/* shared style*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.linear {
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-primary {
    color: #FFF;
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    padding: 21px 40px;
    gap: 10px;
    border: none;
}

.description {
    color: #534C64;
    font-size: 1rem;
    font-weight: 500;
    line-height: 30px;
    /* 150% */
}

.section-title {
    font-size: 2.8rem;
    font-weight: 700;
    width: 100%;
}

/* nav styles */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.logo-nav {
    display: flex;
    gap: 20px;
}

nav>ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

nav>ul>li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
}

.btn {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 16px 40px;
}

.fa-youtube {
    background-color: white;
    color: red
}

/* nav style end */
/* play section start */
.play-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.play-content {
    padding-left: 230px;
    background-image: url("../images/Group\ 14.png"), linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
    height: 600px;
    width: 650px;
    text-align: justify;
}

.play-title {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 100px;
}

.play-content-title {
    font-size: 6.9rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
}

.play-container p {
    color: #534C64;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: lowercase;
    margin-bottom: 20px;
}

.btn-secondary {
    color: #FFF;
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 48px;
    background: #4EC5F7;
    padding: 21px 40px;
    gap: 10px;
    border: none;
}

/* play section end */
.online-section {
    text-align: center;
    margin-bottom: 100px;
}

.online-games {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;

}

.funny-game {
    padding-left: 20px;
    width: 300px;
    height: 350px;
    border-radius: 16px;
    margin-bottom: 20px;
}

.funny img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #FFF;
    position: relative;
    bottom: 260px;
    left: 160px;
}

.funny img:hover {
    background-color: #0B0223;
}

.funny {
    position: absolute;
}

/* play section end */
/* play instantly section start*/

.play-instant {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-instantly {
    width: 350px;
    height: 100px;
    margin-right: 150px;
    text-align: center;
    justify-content: center;
}

.play-instantly-img img {
    width: 530px;
    height: 550px;
    position: absolute;
}

.card img {
    border-radius: 8px;
    position: relative;
    width: 280px;
    height: 320px;
    border-radius: 8px;
    border: 5px solid #FFF;
    flex-shrink: 0;
    top: 380px;
    right: 130px;
}

/* play instantly end */
/* Action game section start */
.action-container {
    margin-top: 450px;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.action-game {
    flex-basis: 200px;
    padding: 10px;
    border-radius: 10px;
}

.action-game:hover {
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}

.single-game img {
    width: 60px;
    height: 60px;
    border-radius: 50px;
}

.single-game {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* footer section style */
footer {
    background: #0B0223;
}

.footer-nav {
    justify-content: center;
    margin-top: 100px;
    padding-top: 100px;
    color: #FFF;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 60px;
}

footer ul li {
    list-style: none;
    margin-top: 50px;
    margin-bottom: 50px;
}

footer ul li a {
    text-decoration: none;
    color: #FFF;
}

.icons-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    width: 60%;
    gap: 30px;
    margin: 0 auto 40px;
    color: #FFF;
    padding: 20px 35px;
}

footer p {
    color: #FFF;
    text-align: center;
}

/* Responsive Media query */
/* Mobile Device */
@media screen and (max-width: 576px) {

    nav,
    nav>ul,
    .online-games,
    .play-instantly,
    .play-instant {
        flex-direction: column;
    }

    .online-games {
        text-align: center;
    }

    .play-container {
        flex-direction: column-reverse;
    }

    .play-img img,
    .play-instantly-img {
        width: 100%;
    }

    .play-instantly {
        width: 90%;
    }

    .play-content {
        text-align: center;
    }

    .funny-game {
        margin-bottom: 20px;
        width: 100%;
        height: 100%;
    }

    .section-title {
        font-size: 1.4rem;
        width: 100%;
    }

    .description {
        font-size: 14px;
    }

    .play-title {
        font-size: 2rem;
    }

    .play-instantly {
        width: 185px;
        height: 230px;
        text-align: center;
        margin: 0 auto;
    }

    .play-content-title {
        font-size: 4rem;
    }

    .btn-primary {
        font-size: 1rem;
    }

    .btn-secondary {
        font-size: 1rem;
    }
}

/* tablet device */
@media screen and (min-width:577px) and (max-width:992px) {

    nav,
    nav>ul,
    .online-games,
    .play-instant {
        flex-direction: column;
    }

    .online-games {
        text-align: center;
    }

    .play-container {
        flex-direction: column-reverse;
    }

    .play-content {
        text-align: center;
    }

    .play-container {
        flex-direction: column-reverse;
    }

    .play-img img {
        width: 100%;
    }

    .play-instantly {
        width: 280px;
        height: 380px;
        text-align: center;
        margin: 0 auto;
    }

    .funny-game {
        margin-bottom: 20px;
        width: 100%;
        height: 100%;
        align-items: center;
    }

}